<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <div id="shared_files">
    <% @uploaded_files.each do |shared_file| %>
      <div class="col secondary my-2 p-2 rounded">
        <%= render shared_file %>
      </div>
    <% end %>
  </div>

</div>
