<p style="color: green"><%= notice %></p>

<%= render @shared_file %>

<div>
  <%= link_to "Back to home", welcome_index_path %>

  <%= button_to "Destroy this shared file", @shared_file, method: :delete %>
</div>
